- let lista = ["Coca cola","1 Librea Papas", "Cilantro", "1 Libra de yuca"];
- let obj = {Cedula: 123456789, Nombre: "Miguel Angel Castro Escamilla"};
- let nombre = "Miguel";
- let usuario = {tipo: "Jefe", nombre: "Miguel", clase: "permiso"};
- let ruta = [{nombre:"Caja 1", color:"green"},{nombre:"Miguel", color:"Blue"}];